/*
 CSS Reset
 http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, section, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* jo */

body, a, p {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: .7px;
    outline: 0;
    text-decoration: none;

    -webkit-touch-callout: none; /* iOS Safari */
    user-select: none;
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;
}

body {
    background: #90cba0;
}

a {
    margin: 0 2px;
    text-decoration: none;
    /*color: #fefefe;*/
    color: #90cba0;
    border-bottom: 7px solid #fefefe;
    transition: border ease-out .05s;
}

a:last-child{
    margin-right: 0px;
}

a:first-child{
    margin-left: 0px;
}

a:hover {
    border-bottom: 7px solid #b070b0;
    transition: border ease-in .1s;
}

.nav {
    float: right;
    display: flex;
    padding-top: 2px;
}

.navlink, .header {
    /*background: #cb2560;*/
    /*color: #fff;*/
    background: #fefefe;
    color: #303030;
}

.intro {
    font-size: 16px;
}

.navlink {
    padding: 20px 20px 12px;
    display: inline-block;
    border-bottom: none;
}

#navhead {
    padding: 20px 20px 18px;
    display: inline-block;
    text-decoration: none;
    /*float: left;*/
}


.header {
/*    background: #6080d0;*/
    border-top: 1px solid #aaa;
    top: 0px;
    min-width: 1000px;
    width: 100%;
    z-index: 20;
    position: fixed;
/*    border-bottom: 1px solid #303030;*/
    box-shadow: 0 2px 10px -3px #303030;
}

.wrapper {
    height: 100%;
    min-width: 100%;
    display: block;
    text-align: center;
    padding-top: 100px;
    margin: 0;
    background: #90cba0;
}

.wrapper-sides {
    height: 3000px;
    min-width: 1000px;
    padding: 0 100px;
    background: #90cba0;
}

.wrapper-header {
    padding: 0 100px;
}

/*.section {
    height: 1000px;
    width: 100%;
    margin-top: 120px;
    border: 1px black;
}*/

.section-text {
    text-align: center;
    padding: 20px 50px;
    background: #fefefe;
    color: #303030;
    border-top: 1px solid #aaa; 
    box-shadow: 0 2px 10px -5px #303030;
}

.section-text:not(:first-child) {
    margin-top: 100px;
}

.section-text p.intro {
    padding-bottom: 20px;
    border-bottom: 1px solid #aaa;
}

.section-body .info{
    background: #fefefe;
    padding-top: 20px;
    display: flex;
}

.square {
    padding: 0 100px;
    height: 200px;
    background: rgba(30,30,30,.1);
    margin: 0 auto;
    border-radius: 50%;
}

#map {
    position: relative;
    width: 100%;
    height: 500px;
    z-index: 1;
}

.window-load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3000px;
    z-index: 50;    
}

.blackout {
    background: rgba(30,30,30,.9);
}

.scrolloff {
    pointer-events: none;
}

.gm-style-cc { display:none; }